* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0faf3;
}

img {
  height: 200px;
}

.container {
  margin: 2em 4em;
}

.profile {
  display: flex;
  justify-content: space-around;
}

.block {
  display: flex;
}

.city .block {
  justify-content: space-around;
  margin-bottom: 1em;
}

.city .block p {
  max-width: 60%;
}

.cut-off {
  padding: 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid black;
}

.history {
  display: flex;
  flex-direction: column;
}

h3 {
  margin-bottom: 1em;
}

.history .his-section {
  display: flex;
}

.history .his-section .block {
  align-items: center;
}

.history .his-section .block p {
  max-height: 200px;
  overflow: hidden;
}

section {
  margin: 0 7px;
}

table {
  margin-top: 0.75em;
  width: 80%;
  border-collapse: collapse;
}

th {
  background-color: rgb(146, 199, 245);
}

th,
td {
  border: 1px solid lightskyblue;
  padding: 15px;
  text-align: left;
}

/* ------ Small screen --------- */
@media (max-width: 800px) {
  body {
    background-color: rgb(225, 249, 249);
    display: flex;
    align-items: center;
    width: 100vw;
  }

  img {
    height: 150px;
  }

  .profile {
    justify-content: center;
    align-items: center;
  }
  .profile h1 {
    margin-bottom: 10px;
  }
  .profile img {
    max-width: 50%;
  }

  .city {
    align-items: center;
  }

  .city .block p {
    margin-top: 0.75em;
    max-width: 90%;
  }

  .city img {
    max-width: 90%;
    min-height: 200px;
  }

  .block,
  .profile {
    flex-direction: column;
  }

  .subjects section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .subjects section .subject {
    margin-top: 1em;
  }

  .history {
    width: 90 vw;
    align-items: center;
    margin: 0 auto;
  }

  .history .his-section {
    flex-direction: column;
  }

  section {
    margin: 1em 2px;
  }

  section h4 {
    margin-bottom: 1em;
  }

  section .block {
    flex-direction: row;
  }

  .history .his-section section:nth-child(even) .block img {
    order: 1;
  }
  .history .his-section section:nth-child(even) .block p {
    order: 2;
    margin-left: 1em;
  }
  .history .his-section section:nth-child(odd) .block p {
    margin-right: 1em;
  }

  table {
    margin-top: 0.75em;
    width: 100%;
  }
}
